{:source-paths ["src"]
 :dependencies [[cljs-http "0.1.45"]]


 :nrepl {:port 8282}
 :builds
 {:app
  {:target    :node-script
   :output-to "target/main.js"
   :main      john-titor.core/main
   :devtools  {}}}}
