{:source-paths ["src"]
 :dependencies [[org.clojure/clojurescript "1.10.439"]
                [cljs-http "0.1.45"]]

 :nrepl {:port 8282}
 :builds
 {:app
  {:target    :node-script
   :output-to "target/main.js"
   :main      john-titor.core/main
   :devtools  {}}}}
